<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite" verbose="1">
	<test name="test">
		<classes>
			<class
				name="idv.hsiehpinghan.javadesignpatternexample.factorypattern.FactoryPatternTest" />
			<class
				name="idv.hsiehpinghan.javadesignpatternexample.abstractfactorypattern.AbstractFactoryPatternTest" />
			<class
				name="idv.hsiehpinghan.javadesignpatternexample.singletonpattern.SingletonObjectTest" />
			<class
				name="idv.hsiehpinghan.javadesignpatternexample.builderpattern.BuilderPatternTest" />
			<class
				name="idv.hsiehpinghan.javadesignpatternexample.prototypepattern.PrototypePatternTest" />

		</classes>
	</test>
</suite>