<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite" verbose="1">
<!-- 	<test name="suit"> -->
<!-- 		<classes> -->
<!-- 			<class name="idv.hsiehpinghan.java8example.suit.TestngSuitSetting" /> -->
<!-- 		</classes> -->
<!-- 	</test> -->
	<test name="test">
		<classes>
			<class name="idv.hsiehpinghan.java8example.example.LambdaExpressionTest" />
			<class name="idv.hsiehpinghan.java8example.example.MethodReferenceTest" />
		</classes>
	</test>
</suite>