<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite" verbose="1">
	<!-- <test name="suit"> -->
	<!-- <classes> -->
	<!-- <class name="idv.hsiehpinghan.java8example.suit.TestngSuitSetting" 
		/> -->
	<!-- </classes> -->
	<!-- </test> -->
	<test name="feature">
		<classes>
			<class name="idv.hsiehpinghan.java8example.feature.LambdaExpressionTest" />
			<class name="idv.hsiehpinghan.java8example.feature.MethodReferenceTest" />
			<class
				name="idv.hsiehpinghan.java8example.feature.FunctionalInterfaceTest" />
			<class name="idv.hsiehpinghan.java8example.feature.DefaultMethodTest" />
			<class name="idv.hsiehpinghan.java8example.feature.StreamTest" />
			<class name="idv.hsiehpinghan.java8example.feature.OptionalClassTest" />
			<class name="idv.hsiehpinghan.java8example.feature.PeriodClassTest" />
			<class name="idv.hsiehpinghan.java8example.feature.DurationClassTest" />
			<class
				name="idv.hsiehpinghan.java8example.feature.BackwardCompatibilityTest" />
			<class name="idv.hsiehpinghan.java8example.feature.TryWithResourcesTest" />
			<class
				name="idv.hsiehpinghan.java8example.feature.ConstructorReferenceTest" />
			<class name="idv.hsiehpinghan.java8example.feature.ConsumerTest" />
			<class name="idv.hsiehpinghan.java8example.feature.SupplierTest" />
			<class name="idv.hsiehpinghan.java8example.feature.FunctionTest" />
			<class name="idv.hsiehpinghan.java8example.feature.PredicateTest" />
		</classes>
	</test>
	<test name="net">
		<classes>
			<class name="idv.hsiehpinghan.java8example.net.HttpsConnectionTest" />
		</classes>
	</test>
</suite>